/.venv/
.venv/
env/
/.venv-wsl/
/.idea/
/.run/
!/.vscode/settings.json
__pycache__/
*.env
.temp/
local.settings.json
__azurite_db*.json
__blobstorage__/
__queuestorage__/
src/functions/bin/
src/functions/obj/
extensions.csproj

.terraform/
.terraform.lock.hcl
k8s-key
k8s-key.pub
*.plan
creds.sh


/.temp/
/.idea/
/.data/
